/*---------------------------------------------------------
                        RESET
---------------------------------------------------------*/
*, *:before, *:after {
    box-sizing: inherit;
}

/*---------------------------------------------------------
                        BASE
---------------------------------------------------------*/
body {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: normal;
    background-image: url("../assets/backgrounds/main-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

/*---------------------------------------------------------
                        Modules
---------------------------------------------------------*/
nav {
    height: 5vh;
}

nav img {
    height: 4.5vh;
    width: 4.5vh;
}

main {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    min-height: 85vh;
    margin-top: 5vh;
}

footer {
    padding: 1.25vh;
    height: 2.5vh;
    text-align: center;
    float: bottom;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

section p {
    margin: 50px;
}

section img {
    margin: 25px;
}

.hover:hover {
    transform: scale(1.5);
}

.background {
    background: rgba(100, 100, 100, 0.35);
    padding: 25px;
    width: 35vw;
    min-height: 250px;
    margin: 50px auto auto auto;
}

.center {
    margin: auto;
}

.vertical-align {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#shop {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.err {
    transform: translateY(25%);
    width: 100%;
    text-align: center;
    color: #F00;
    font-size: 4rem;
}

.err h2 {
    font-size: 10rem;
}

#rabais {
    font-size: 1.22rem;
    background-color: red;
    width: 100%;
    height: fit-content;
    text-align: center;
    display: none;
    margin-bottom: 25px;
}

#rabais code {
    color: #000;
    font-weight: bold;
}

#register {
    text-align: center;
    margin: 10vh auto auto;
    min-height: 35vh;
    height: auto; /* Trop paresseux pour set une size définitive et la changer a chaque fois que je rajoute quelque chose */
    width: 20vw;
    padding: 50px;
    border-radius: 20%;
}

#register form {
    text-align: center;
    margin-top: 10px;
}

#register input, button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 10vw;
    height: 2vh;
}

#register button {
    width: 8vw;
}

section.vertical-align {
    width: 60%;
}

#connect {
    text-align: center;
    min-height: 35vh;
    height: auto; /* Trop paresseux pour set une size définitive et la changer a chaque fois que je rajoute quelque chose */
    width: 22vw;
    padding: 25px;
    border-radius: 20%;
}

#connect form {
    text-align: center;
    margin: 10px;
}

#connect input, button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    width: 10vw;
    height: 2vh;
}

#connect button {
    width: 8vw;
}
#items {
    text-align: center;
}

.shop-item {
    font-size: 16px;
    background-color: #444;
    margin: 10px;
    padding: 10px;
}

.shop-item input {
    width: 50%;
    text-align: center;
}

.shop-item button {
    width: 75%;
    padding: 3%;
}

.shop-item img {
    width: 100px;
    height: 100px;
}

.wip {
    width: 100%;
    text-align: center;
}
.wip h2 {
    font-size: 5rem;
}

.dropdown-item {
    width: auto !important;
}

#photoGallery {
    margin: auto;
}

.objetGallery h2 {
    margin: 20px;
    text-align: left;
}

.objetGallery p {
    margin: 20px;
    text-align: left;
}

.objetGallery img {
    text-align: left;
    width: auto;
    height: 300px;
    display: flex;
    float: left;
}

.quote {
    color: whitesmoke !important;
}