/*---------------------------------------------------------
                        RESET
---------------------------------------------------------*/
*, *:before, *:after {
    box-sizing: inherit;
}

/*---------------------------------------------------------
                        BASE
---------------------------------------------------------*/
body {
    font-family: 'Josefin Sans', sans-serif;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: normal;
    background-image: url("../assets/backgrounds/main-bg.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

/*---------------------------------------------------------
                        Modules
---------------------------------------------------------*/
nav {
    height: 5vh;
}

nav img {
    height: 4.5vh;
    width: 4.5vh;
}

main {
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    min-height: 83.5vh;
}

footer {
    padding: 1.25vh;
    height: 2.5vh;
    text-align: center;
    float: bottom;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}

section p {
    margin: 50px;
}

section img {
    margin: 25px;
}
section img:hover {
    transform: scale(1.5);
}

.background {
    background: rgba(100, 100, 100, 0.35);
    padding: 25px;
    width: 35vw;
    min-height: 250px;
    margin: 50px auto auto auto;
}

.container {
    overflow: hidden;
}

#shop {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

table {
    text-align: center;
}

#table {
    text-align: center;
}

#rabais {
    font-size: 1.22rem;
    background-color: red;
    width: 100%;
    height: fit-content;
    text-align: center;
    display: none;
}

#rabais code {
    color: #000;
    font-weight: bold;
}

.items {
    text-align: center;
}

.shop-item {
    font-size: 16px;
    width: 200px;
    background-color: #444;
    padding: 10px;
    margin: 25px;
}
.shop-item * {
    width: 100%;
}

.shop-item input {
    width: 50px;
    text-align: center;
}

.shop-item button {
    width: 100px;

}

.shop-item img {
    width: 100px;
    height: 100px;
}

.wip {
    width: 100%;
    text-align: center;
}
.wip h2 {
    font-size: 5rem;
}
